/* Styles go here */

body {
    box-sizing: border-box;
    background-color: aquamarine;
}


input[type='text'], input[type='email'], input[type='number'] {
    width: 400px;
    padding: 5px;
}

input[type="text"]:focus,
inpupt[type="email"]:focus,
input[type="number"]:focus {
    border-color: rgb(8, 42, 192);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }


select {
    width: 200px;
    padding: 5px;
}
/* .headline {
  text-align: center;
}

nput:invalid
{
color: red;
}
input:valid
{
color: green;
}



#submitButton {
    background-color: darkcyan;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 30px auto;
}

#submitButton:hover {
    background-color: cyan;
} */

/* .container {
    border-radius: 5px;
    background-color: lightgrey;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-75-right {
    float: right;
    width: 75%;
    margin-top: 6px;
}

.row {
    padding: 10px;
    margin-top: 30px;
    border-bottom: 1px dotted black;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.alignCenter {
  display: inline-block;
} */